:root {
  --start-margin: 25vh;
}

* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 100vh;
  overflow: hidden;
}
main {
  max-width: 26em;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  & ::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
}

p:first-child {
  margin-top: calc(1.25 * var(--start-margin));
}

#sketch-container {
  margin-top: var(--start-margin);
  aspect-ratio: 1;
  height: 400px;
}
p {
  margin-bottom: 24px;
}
