* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
body {
  margin-left: 40vw;
}
main {
  max-width: 26em;
  position: relative;
}
#sketch-container {
  aspect-ratio: 3 / 4;
  height: 100vh;
}
p {
  margin-bottom: 24px;
}
