* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  gap: 36px;
  height: 100vh;
  overflow: hidden;
}
main {
  max-width: 26em;
  position: relative;
  overflow-y: auto;
  height: 100%;
}
#sketch-container {
  margin-top: 25vh;
  aspect-ratio: 1;
  height: 300px;
}
p {
  margin-bottom: 24px;
}
